/*CPSC 2030: Worksheet 2*/

:root {
  /* TODO: Set CSS Variables on root scope*/
  --primary-color: #cc0000;
  --secondary-color: #7c0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* TODO: Stick footer*/
}

body {
  font-family: 'Roboto', sans-serif;
  /* TODO: Stick footer*/
}

.content {
  /* TODO: Stick footer*/
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  overflow: none;
}

/* TODO: */
.app-header {
  background-color: orange;
  box-shadow: 3px 3px 10px #888;
}

.app-header .container {
  /* TODO: Header Layout using Flexbox*/
}

.app-header .logo {
  width: 170px;
  margin-bottom: 16px;
}

.app-header .search {
  padding: 7px;
  width: 300px;
  border-radius: 3px;
}

.subheader {
  /* TODO: Subheader Layout using Flexbox*/
  /* TODO: Use CSS variable for background color*/
  background-color: blue;
  color: #fff;
  box-shadow: 3px 3px 10px #888;
  margin: 0 auto 16px auto;
  width: 90%;
  font-size: 14px;
  padding: 10px;
}

.subheader p {
  margin: 4px;
}

.subheader img {
  width: 40px;
}

.grid {
  /* TODO: Grid Div Layout using CSS Grid*/
}

.grid .item {
  /* TODO: Grid Item layout using Flexbox*/
  border: 1px #ccc solid;
  box-shadow: 1px 1px 2px #ccc;
}

.grid .item p {
  /* TODO: Set Color using CSS Variable*/
  font-size: 14px;
  margin-bottom: 20px;
}

.grid .item img {
  width: 30px;
  /* TODO: Use the align-self property to position the image*/
}

.app-footer {
  /* TODO: Stick footer*/
  background: #f4f4f4;
  color: #444;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.app-footer ul {
  /* TODO: Footer <ul> layout using Flexbox*/
}

.app-footer ul li {
  /* TODO: Footer <li> layout using Flexbox*/
}

.app-footer ul li i {
  font-size: 22px;
}

/*Splash Screen*/
#splash {
  /* TODO: Splash Screen*/
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#splash img {
  width: 300px;
}

#splash.fade {
  opacity: 0;
}

/* TODO: Desktop media query*/
